%%-*- mode: erlang -*-

{erl_opts, [debug_info,
            bin_opt_info,
            {i, "./include"}]}.

{clean_files, ["*.eunit", "ebin/*.beam"]}.

{deps_dir, "deps"}.
{lib_dirs, ["deps/"]}.

{erlydtl_opts, [
                {doc_root, "priv/templates"}
]}.

{deps, [
        {cowboy, ".*", {git, "https://github.com/extend/cowboy", "1.0.0"}},
        {erlydtl, ".*", {git, "https://github.com/erlydtl/erlydtl", "0.9.4"}}
       ]}.
