%%-*- mode: erlang -*-
{deps, [
        {lager, ".*", {git, "https://github.com/basho/lager.git", "2.0.1"}},
        {bullet, ".*", {git, "https://github.com/extend/bullet", "master"}}
       ]}.

{lib_dirs, ["deps"]}.
{sub_dirs, ["test"]}.

{erl_opts, [debug_info,
            warn_unused_vars,
            {parse_transform, lager_transform}]}.
