%% -*- mode: Erlang;-*-
[

 %% ctidb app settings
 {ctidb, [{db_flush_interval, 10000},
          {db_flush_file, "priv/db"},
          {tcp_api_port, 2000},
          {http_api_port, 8080}
        ]},


 %% sasl logging settings
 {sasl, [{errlog_type, error}]},


 %% lager settings
 {lager, [
          {handlers, [{lager_console_backend, info},
                      {lager_file_backend,
                       [{file, "/var/log/ctidb/debug.log"}, {level, debug},
                        {size, 1073741824}, {date, "$M1"}, {count, 5}]},
                      {lager_file_backend,
                       [{file, "/var/log/ctidb/info.log"}, {level, info},
                        {size, 1073741824}, {date, "$M1"}, {count, 5}]},
                      {lager_file_backend,
                       [{file, "/var/log/ctidb/warning.log"}, {level, warning},
                        {size, 1073741824}, {date, "$M1"}, {count, 5}]},
                      {lager_file_backend,
                       [{file, "/var/log/ctidb/error.log"}, {level, error},
                        {size, 1073741824}, {date, "$M1"}, {count, 5}]}
                     ]},
          {crash_log, "/var/log/ctidb/crash.log"},
          {crash_log_msg_size, 1048576},
          {crash_log_size, 1073741824},
          {crash_log_date, "$M1"},
          {crash_log_count, 5},
          {error_logger_redirect, true}
         ]}
].
